.navbar{
    background: linear-gradient(190deg, white,orange, transparent);
    .navbar-brand{
        font-size: 20px;
        font-weight: 800;
    }
}
.card{
    background: linear-gradient(206deg, orange, transparent);
    border: 2px solid #000;
}
.btn{
    background: linear-gradient(274deg, orange, transparent);
    color: #000;
    border: 1px solid ;
}
input{
    border: 1px solid #000;
}